@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+TC:wght@100..900&family=Rampart+One&display=swap');
/* @import 'vue-material-design-icons/styles.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    appearance:none;
    margin:0;
}
